body{
    background-image: url("https://wallpapercave.com/wp/wp7881349.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.h2{
    text-align: center;
    margin-top: 70px
}
#input{
    margin-top: 0.6cm;
    margin-left: 11cm;
    border-style: groove;
    border-color: black;
    width: 10cm;
    height: 22px;
   text-align: center;
   color: rgb(0, 0, 0);

}
   
   
#list-container{
    margin-left: 13cm;
    margin-top: 1cm;
    display: non;
}
.b1{
    margin-left: 0.3cm;
   }
.b2{
    margin-left: 0.3cm;
   }
   .complete:hover{
    background-color: #01fd09;
   }
   .complete:active {
    background-color: #2AD11A1;
    box-shadow: 0 5px #666;
    
   }
   .complete{
    border-radius: 5px;
   }

   .delete:hover{
background-color: #F94252;
   }
   .delete{ border-radius: 5px;
   }
   .a{
    margin: 12px 1 2px;
   }
.a1:hover{
    background-color: #898181;
    border-radius: 30px;
    color: rgb(16, 16, 16);
    
}
#input:hover{
    background-color: #898181;
    border-radius: 30px;
    cursor: pointer;
}